<div class="row">
  <div class="col-md-6 offset-3">
    <div class="list-group">
      <% connections.each do |connection| %>
        <%= link_to "#{connection.username}", user_path(connection.username), class: "list-group-item list-group-item-action" %>
      <% end %>
    </div>
  </div>
</div>
